@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500&family=Montserrat:wght@300;400;500;600&display=swap");
.sec_icons .icons .button2, .sec_icons .icons .button4, .sec_icons .icons .button1, .sec_icons .icons .button3 {
  padding: 0.5rem 0.75rem;
  margin: 3px 0px;
  text-align: center;
  font-weight: 400;
  font-size: 0.875rem;
  border-radius: 0.75rem;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-weight: 500;
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

.i_space {
  margin-right: 0.75rem;
}

.container {
  background-color: hsl(120deg, 22%, 5%);
  width: 70%;
  margin: 1.5rem auto 0rem;
  border-top-left-radius: 0.875rem;
  border-top-right-radius: 0.875rem;
  color: #fff;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #fff;
  -moz-column-gap: 6rem;
       column-gap: 6rem;
  padding: 1rem 4rem;
  box-shadow: inset 0px 0px 7px 0px rgba(253, 239, 239, 0.8);
}
.header h1 {
  font-size: 1.5rem;
  text-align: center;
}
.header ul {
  list-style: none;
  display: flex;
}
.header ul a:hover {
  color: #fa6c6c;
}
.header a {
  text-decoration: none;
  color: #fff;
  padding: 0.75rem 1rem;
}
.header input[type=text] {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #324e32;
  color: hsl(90deg, 23%, 40%);
  border: none;
  width: 16rem;
  outline: none;
}
.header input[type=text]:focus {
  background-color: #e3dfdf;
  border: 1px solid rgba(73, 70, 70, 0.8);
  box-shadow: inset 0px 0px 7px 0px rgba(253, 239, 239, 0.8);
}
.header .con {
  position: relative;
}
.header .inner_img {
  position: absolute;
  top: 2px;
  right: 0.5rem;
  width: 1.5625rem;
  height: 1.5625rem;
}

.sec_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 3rem 3rem 1.5rem;
  margin: 0px auto;
  font-family: "Kanit", sans-serif;
}
.sec_icons .img {
  width: 3rem;
  height: 3rem;
}
.sec_icons p {
  font-size: 0.75rem;
  font-weight: 400;
  padding: 0.875rem 0rem;
  text-align: center;
}
.sec_icons .mid_query {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec_icons .icons {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  align-items: center;
  justify-content: center;
}
.sec_icons .icons .button1, .sec_icons .icons .button3 {
  background-color: #e3dfdf;
}
.sec_icons .icons .button1 a, .sec_icons .icons .button3 a {
  text-decoration: none;
  color: rgb(51, 141, 182);
}
.sec_icons .icons .button2, .sec_icons .icons .button4 {
  background-color: #fa6c6c;
}
.sec_icons .icons .button2 a, .sec_icons .icons .button4 a {
  text-decoration: none;
  color: #fff;
}
.sec_icons .icons a:hover {
  color: hsl(120deg, 22%, 5%);
}

.sec_txt {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  padding: 1rem;
  z-index: 1;
  width: 86%;
  margin: 3rem auto;
  border-radius: 0.75rem;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(73, 70, 70, 0.8);
}
.sec_txt .txt_list {
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "Kanit", sans-serif;
}
.sec_txt .ls1 {
  align-self: flex-start;
}
.sec_txt ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.sec_txt a {
  text-decoration: none;
  display: block;
  padding: 0.5rem 0.75rem;
  color: #fff;
}
.sec_txt a:hover {
  color: #e3dfdf;
}

.sec_bullet ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem 1rem 1rem 3.2rem;
  background-color: rgba(73, 70, 70, 0.8);
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
}
.sec_bullet ul a {
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  color: #fff;
}
.sec_bullet ul a:hover {
  color: #e3dfdf;
}

.card_img {
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
}

.white_bg {
  background-color: #fff;
  width: 70%;
  margin: 0rem auto;
  color: hsl(120deg, 22%, 5%);
  padding: 4rem;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-size: 0.875rem;
}
.white_bg .dotted {
  display: flex;
  flex-direction: row;
}
.white_bg .hr {
  border: 2px solid red;
  margin: 5px;
}
.white_bg .hr_extend {
  width: 1.5rem;
}
.white_bg .mainstream {
  line-height: 2rem;
}
.white_bg .mainline {
  border: 1px groove red;
  width: 90%;
  margin-top: 1rem;
}
.white_bg ul {
  list-style-type: none;
  display: flex;
}
.white_bg li {
  padding: 0rem 0.2rem;
}
.white_bg .checked {
  color: rgb(247, 221, 73);
}

.split {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  padding: 2rem;
}

.card1, .card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 8px;
}

.single {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  row-gap: 8px;
  padding: 2rem;
}

.footer_container {
  background-color: hsl(120deg, 22%, 5%);
  width: 70%;
  margin: 0rem auto 1.5rem;
  color: #fff;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  font-size: 0.875rem;
  font-weight: 400;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}
.footer_container a {
  text-decoration: none;
  color: #fff;
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  padding: 3rem;
  color: #e3dfdf;
}

.stack {
  display: flex;
  align-items: flex-start;
  justify-content: start;
}

.s1 {
  flex: 1;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.s2 {
  flex: 2;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.list {
  text-align: left;
}
.list ul {
  list-style: none;
}
.list a {
  padding: 0.5rem 0.5rem 0.5rem 0rem;
  color: #e3dfdf;
}

.mid_text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  row-gap: 0.5rem;
}

.base_list ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.base_list ul a {
  color: #e3dfdf;
}

.base_footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(73, 70, 70, 0.8);
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  width: 100%;
  padding: 0.75rem;
  font-family: "Montserrat", sans-serif;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.social ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 0.875rem;
       column-gap: 0.875rem;
}
.social ul a {
  color: rgb(247, 221, 73);
}

.img_footer {
  width: 3rem;
  height: 3rem;
}

@media screen {
  .header {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    row-gap: 0.75rem;
  }
  .header h1 {
    padding-bottom: 0.5rem;
  }
  .sec_icons {
    flex-direction: column;
  }
  .mid_query {
    flex-direction: column;
  }
  .button1, .button2, .button3, .button4 {
    width: 100%;
  }
  .sec_txt {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  .split {
    flex-direction: column;
    row-gap: 2rem;
  }
  .single {
    padding-top: 0rem;
  }
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
  }
  .stack {
    flex-direction: column;
    row-gap: 2rem;
  }
  .list {
    text-align: center;
    width: 100%;
  }
}
@media screen and (min-width: 43.75rem) {
  .header {
    flex-direction: column;
    row-gap: 0.75rem;
    padding: 1rem 4rem;
  }
  .header h1 {
    padding: 0rem;
  }
  .con1 {
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .sec_icons {
    flex-direction: column;
  }
  .mid_query {
    flex-direction: row;
  }
  .button1, .button2, .button3, .button4 {
    width: 80%;
  }
  .split {
    flex-direction: row;
    margin-top: 0rem;
    row-gap: 0rem;
  }
  .footer {
    justify-content: start;
    align-items: flex-start;
    row-gap: 2rem;
  }
  .stack {
    flex-direction: row;
  }
  .list {
    text-align: left;
  }
}
@media screen and (min-width: 62rem) {
  .header {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    row-gap: 0.75rem;
    padding: 1rem 1rem;
  }
  .header h1 {
    padding: 0rem;
  }
  .header input[type=text] {
    width: 12rem;
  }
  .header input[type=text]:focus {
    width: 12rem;
  }
  .sec_icons {
    flex-direction: row;
  }
  .mid_query {
    flex-direction: row;
  }
  .button1, .button2, .button3, .button4 {
    width: 80%;
  }
  .footer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .stack {
    flex-direction: row;
  }
  .list {
    text-align: center;
    width: 100%;
  }
}
@media screen and (min-width: 78.125rem) {
  .header {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    row-gap: 0.75rem;
    padding: 1rem 4rem;
  }
  .header input[type=text] {
    width: 16rem;
  }
  .header input[type=text]:focus {
    width: 17.75rem;
  }
  .sec_txt {
    -moz-column-gap: 5rem;
         column-gap: 5rem;
  }
}